@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="hidden" id="dataAttrServiceId" data-service-id="2"></div>
<div class="sanitation-rating-page">
    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-4 login-header">
            <h1>Đánh giá <span style="color: red; font: bold">BẢO VỆ</span></h1>
            <br />
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#changingServicesModal">
                Đổi dịch vụ
            </button>
            <br />
            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#logoutModal">
                Đăng xuất
            </button>
        </div>
    </div>
</div>